html {
  height: 100%;
  box-sizing: border-box
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch
}

::selection {
  background: #f7b9a6
}

::-moz-selection {
  background: #f7b9a6
}

body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #666;
  font: 1rem/1 serif;
  background-color: #fbfbfb;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%
}

p {
  margin: .5em 0
}

a:link, a:visited {
  text-decoration: none;
  color: #999
}

a:hover {
  color: #F18260
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #4298A9;
  text-transform: uppercase;
  font-size: 8em;
  line-height: 1em;
  margin: 20px 0
}

h2 {
  font-family:'Source Serif Pro', serif;
  color: #222;
  font-size: 1.2em;
  font-weight: lighter
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: #4298A9;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: .2em;
  padding: 20px 0;
  font-size: 1.3em
}

h4 {
  font-size: 23px;
  line-height: 26px;
  font-family: "Source Serif Pro", serif;
  margin: 0
}

/* Footer */

footer {
  background: #AAA8A4;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2)) !important;
  color: #444;
  min-height: 242px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 5% !important
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%
}

footer.grid {
  border: none
}

footer .grid-item {
  max-width: 300px;
  width: 100%;
  padding: 40px 0
}

.contact-info a {
  font-size: 2em;
  margin-top: .5em;
  color: #000 !important;
  font-weight: bold;
  font-family: "Source Serif Pro", serif
  }

.contact-info a:hover {
  color: #4298A9 !important
}

.contact-info img {
  padding: 0 0 0 3%
}

.icon {
  fill: #000;
  height: 24px;
  width: 24px;
  margin: 0 3% 0 0;
  max-height: 24px;
  max-width: 24px
}

.icon:hover {
  fill: #4298A9
}

/* Home */

main {
  display: flex;
  flex-direction: column;
  margin: 0 0 220px
}

header {
  margin: 100px 0 60px
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px dashed grey;
  margin: 40px 0 0;
  padding: 20px 0

}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 20px 0
}

.grid-img {
  width: 306px;
  height: 300px;
  border: 2px solid transparent;
  filter: brightness(0.9)
}

.grid-img:hover {
  border: 2px solid #4298A9
}

.grid-text {
  max-width: 300px;
  padding: 10px 0 0;
  font: 1.2rem/1.2 serif
}

/* Page */

.page header {
  margin: 0 0 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed grey
}

.page header .icon, .left-col-nav .icon {
  fill: #999
}

.page header .icon:hover, .left-col-nav .icon:hover {
  fill: #4298A9
}

.page main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row
}

.page main img {
  width: 100%
}

.left-col {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  max-width: 400px;
  padding: 0 40px 0 0
}

.page h1 {
  font-size: 1.8em;
  letter-spacing: .2em;
  padding: 20px 0;
  margin: 0

}

.page h1 a {
  color: #4298A9
}

.page h1 a:hover {
  color: #F18260
}

.page h2 {
  font-size: 1rem;
  line-height: 22px;
  color: inherit;
  font-weight: bolder;
  font-family: inherit
}

.page h3 {
  margin-top: 20px;
  font: 1rem/1.2 serif;
  padding: 0;
  text-transform: none;
  color: inherit;
  letter-spacing: inherit
}

.right-col h4 {
  margin: 40px 0 60px
}

.info {
  margin: 0 0 2em;
  font: 1rem/1.2 serif
}

.info ul {
  list-style: none;
  padding: 0 0 15px 15px;
  font-style: italic
}

.left-col-nav {
  text-align: center;
  border-top: 1px dashed grey;
  padding: 40px 0;
  margin: 20px 0 0
}

.left-col-nav ul {

}

.left-col-nav ul li {
  display: inline;
  padding: 0 10% 0 4%
}

small {
  font-style: italic;
  font-size: .9rem;
  line-height: 1.2;
  display: block
}

.right-col {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  max-width: 800px;
  padding: 20px 0 0 0
}

@media screen and (max-width: 1155px) {
  footer {
    bottom: initial
  }
  
  main {
    margin: 0
  }
  
  footer .grid-item {
    max-width: 33%;
    padding: 40px 10px 0 0
  }
  
  h4 {
    font-size: 18px
  }
  
  .contact-info a {
    font-size: 24px
  }
}

@media screen and (max-width: 840px) {
  footer .grid-item {
    max-width: 100%
  }
  
  .page main {
    flex-direction: column
  }
  
  .left-col,.right-col {
    max-width: initial;
    padding: 0;
    width: 100%
  }
}

@media screen and (max-width: 420px) {
  .grid-img {
      width: 100%;
      height: auto;
      max-width: 306px
    }
}
