html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: #323336;
  font-size: 16px;
  line-height: 1.5;
}

footer,header,section,summary {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
  color: #96999b;
  text-decoration: none;
}

a:active,a:hover {
  outline: 0;
}

*,:after,:before {
  box-sizing: inherit;
}

h1,h2,h3 {
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

h2,h3 {
  letter-spacing: 1.2px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

ul {
  list-style: disc;
}

.standard-resume .sr-section,.standard-resume>header {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.email {
  color: #323336;
}

.email:hover {
  color: #4298A9;
}

.sep {
  display: inline;
}

.break {
  display: none;
}

#skills {
  width: 100%;
}

#skills h2 {
  width: 580px;
  margin: 72px auto 36px;
}


/* columns container */

.responsive-columns {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}


/* columns */

.skill-column {
  padding-right: 5px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}


/* link icons */

.icon-user {
  width: 20px;
  height: 20px;
  -webkit-transition: opacity 200ms linear;
}

.icon-user {
  background-image: url(/assets/user.svg);
  opacity: .5;
  transition: opacity 200ms linear;
}

.icon-user:hover {
  opacity: .9;
}

.c-fancy-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  cursor: pointer;
}

.c-fancy-link {
  display: flex;
  color: inherit;
}

.c-fancy-link .icon-link {
  height: 14px;
  width: 14px;
  margin-left: 5px;
  background-size: 14px 14px;
}

.c-link .icon-link {
  margin-left: 5px;
  background-image: url(/assets/link.svg);
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
}


/* main contianer */

.standard-resume>header>div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.standard-resume {
  margin-top: 20px;
  margin-bottom: 80px;
}

.standard-resume .sr-section h2 {
  margin-top: 72px;
  margin-bottom: 36px;
  color: #c9cccf;
}

.standard-resume .sr-section h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12px;
}

.standard-resume .sr-section p {
  margin-top: 0;
  margin-bottom: 15px;
}

.standard-resume>header {
  position: relative;
}

.standard-resume>header>div {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.standard-resume>header h1 {
  padding-top: 9px;
}

.standard-resume>header .logo-wrap {
  width: 148px;
}

.standard-resume .sr-section.summary {
  margin-top: 45px;
  color: #96999b;
}

.standard-resume .sr-section.summary .label {
  color: #323336;
}

.standard-resume .sr-section.summary p {
  margin: 0 0 7px;
}

.standard-resume .secondary {
  color: #96999b;
  justify-content: left;
}

.standard-resume .secondary .separator {
  padding: 0 6px;
}

.standard-resume .secondary a:hover {
  text-decoration: underline;
  text-decoration-color: #c8cacb;
}

.standard-resume .sr-section-items {
  list-style: none;
  padding: 0;
}

.standard-resume .sr-section-item {
  margin-bottom: 60px;
}

.standard-resume .sr-section-item ul {
  padding-left: 35px;
}

.standard-resume .sr-section-item li {
  margin-top: 4px;
}

.standard-resume ul.tags {
  padding: 0;
  margin: 0;
  list-style: none;
  zoom: 1;
}

.standard-resume ul.tags:after {
  clear: both;
}

.standard-resume ul.tags li {
  padding: 5px 18px;
  background-color: #f1f5f7;
  margin-right: 3px;
  margin-bottom: 12px;
  font-size: 14px;
}

.standard-resume .footer-logo-wrap {
  width: 880px;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* media queries */

@media (max-width:480px) {
  .sep {
    display: none;
  }

  .break {
    display: inline;
  }
}

@media (max-width:620px) {
  #skills {
    width: auto;
  }

  #skills h2 {
    width: auto;
  }

  .responsive-columns {
    width: auto;
  }

  .standard-resume .sr-section,  .standard-resume>header {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width:768px) {
  .responsive-columns {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
  }

  .skill-column {
    padding-right: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .skill-column > * {
    width: 100%;
  }
}

@media (max-width:920px) {
  .standard-resume .footer-logo-wrap {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width:900px) {
  .standard-resume>header .logo-wrap {
    position: absolute;
    left: -150px;
  }

  .standard-resume>header>div {
    margin-bottom: 0;
  }
}

@media (min-width:900px) {
  .standard-resume {
    margin-top: 50px;
  }
}


/* print */

@media print {
  body {
    font-size: 14px !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #skills,  #education {
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .skill-column {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .standard-resume {
    margin-top: -0px !important;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #skills h2 {
    margin-bottom: 20px !important;
  }

  .standard-resume .sr-section h2 {
    margin-top: 40px !important;
    margin-bottom: 1px !important;
  }

  .standard-resume ul.tags li {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .standard-resume .sr-section.summary {
    margin-top: 10px;
  }

  .standard-resume .sr-section.summary .label {
    font-weight: bold;
  }

  .standard-resume .sr-section-item {
    margin-bottom: 30px;
  }

  .standard-resume .sr-section h3 {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .standard-resume .sr-section p {
    margin-bottom: 10px;
  }

  header > p > a {
    color: #323336;
  }

  .standard-resume .sr-section-item {
    margin-bottom: 20px;
  }

  .standard-resume .sr-section-item li {
    margin-top: 0px;
  }

  .section-highlights.tags li {
    background: 0 0!important;
    border: 1px solid #c9cccf;
    margin-right: 10px!important;
    margin-bottom: 10px!important;
  }

  .footer-logo-wrap {
    display: none!important;
  }

  .icon-link {
    display: none!important;
  }
}
