---
title: Art Menu | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
          <h1>The Art Menu</h1>
					<h2>An introductory video for a startup offering high quality, limited edition giclée canvas art prints.</h2>
					<h3>Contributed:</h3>
          <ul>
          <li>Copywriting</li>
            <li>Concept</li>
            <li>Creative Direction</li>
            <li>Art Direction</li>
            <li>Project Management</li>
          </ul>
          <p>This project offered the opportunity to use a variety of creative skills. I was responsible for nearly every aspect, from the original concept, to storyboarding, to scouting locations and finally the actual shoot.<br><br>
          Videography by <a href="http://www.tannerherriott.com/" target="_blank">Tanner Herriott</a>.</p>
        </div>
			  <div class="left-col-nav">
					<ul class="prevnext">
						<li class="prev"><a href="/biscotti" rel="prev">&larr; Back</a></li>
						<li class="next"><a href="/benchmark" rel="next">Next &rarr;</a></li>
					</ul>
				</div>
        </section>
				<section class="right-col">
						<iframe src="http://player.vimeo.com/video/17642660?title=0&amp;byline=0&amp;portrait=0" width="100%" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</section>
    </main>
 {% include footer.html %}