---
title: Biscotti | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
					<h1>Biscotti</h1>
					<h2>Packaging and headlines for a tiny webcam made for big TVs.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Content Strategy</li>
            <li>Copywriting</li>
            <li>Information Architecture</li>
          </ul>
          <p><a href="http://mashable.com/2011/12/29/biscotti-the-best-product-packaging-since-the-ipod/" target="_blank">Mashable called</a> our work on this project a "mash-up between Apple’s design elegance and Henny Youngman‘s penchants for one-liners."<br><br>
          In addition to the packaging, we did a landing page with rotating headers targeting people who might not usually be very tech savvy.<br><br>
          Design by <a href="http://jamiewilson.io/" target="_blank">Jamie Wilson</a>, all work done in the service of <a href="http://www.switch.is/" target="_blank">Switch Creative</a>.</p>
        </div>
        <div class="left-col-nav">
          <ul>
					 <li class="prev"><a href="socks" rel="prev">&larr; Prev</a></li>
					 <li class="next"><a href="art-menu" rel="next">Next &rarr;</a></li>
          </ul>
        </div>
      </section>
      <section class="right-col">
						<a href="../img/biscotti-ad-1.jpg" target="_blank" class="half"><img src="../img/biscotti-ad-1.jpg"/></a>
	      					<a href="../img/biscotti-ad-2.jpg" target="_blank" class="half"><img src="../img/biscotti-ad-2.jpg"/></a>
	      					<a href="../img/biscotti-ad-3.jpg" target="_blank" class="half"><img src="../img/biscotti-ad-3.jpg"/></a>
	      					<a href="../img/biscotti-ad-4.jpg" target="_blank" class="half"><img src="../img/biscotti-ad-4.jpg"/></a>
	      					<a href="../img/biscotti-package-1.jpg" target="_blank"><img src="../img/biscotti-package-1.jpg"/></a>
						<a href="../img/biscotti-package-2.jpg" target="_blank"><img src="../img/biscotti-package-2.jpg" /></a>
						<a href="../img/Biscotti-screen-1.jpg" target="_blank"><img src="../img/Biscotti-screen-1.jpg" /></a>
						<a href="../img/Biscotti-screen-2.jpg" target="_blank"><img src="../img/Biscotti-screen-2.jpg" /></a>
						<a href="../img/Biscotti-screen-3.jpg" target="_blank"><img src="../img/Biscotti-screen-3.jpg" /></a>
						<a href="../img/Biscotti-screen-4.jpg" target="_blank"><img src="../img/Biscotti-screen-4.jpg" /></a>
      </section>
    </main>
 {% include footer.html %}
