---
title: Foot Cardigan | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
          <h1><a href="http://footcardigan.com/" target="_blank">Foot Cardigan</a></h1>
          <h2>Sock startup with a lot of personality.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Copywriting</li>
            <li>Brand Strategy</li>
            <li>Quantifiable Market Research</li>
            <li>Viability Analysis</li>
            <li>Sock Designs</li>
            <li>Social Media Management</li>
            <li>SEO</li>
          </ul>
          <p>I learned more from this than anything else I've ever done.<br><br>
          Working with partners. Working with vendors. Working with Chinese textile manufacturers. Diving deep into the bowels of pay-per-click advertising. Seeing real results from multivariate testing.<br><br>
          It's one thing to do all that stuff for a client, but I could never have imagined how difficult and exhilarating it would be to do it for my own company.<br><br>
          <a href="http://footcardigan.com/" target="_blank">Visit site &raquo;</a></p>
        </div>
        <div class="left-col-nav">
          <ul>
            <li class="prev"><a href="/"><svg class="icon" style="margin-top: -20px;position: relative;top: 5px;" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a></li>
            <li class="next"><a href="show-and-arrow" rel="next">Next &rarr;</a></li>
          </ul>
        </div>
        <small>The top screenshot is a redesign launched in April 2012. The middle screenshot is from our special Sock The Vote campaign, featuring the faces of both Obama and Romney. The bottom screenshot is the old homepage.</small>
      </section>
      <section class="right-col">
      <a href="../img/foot-cardigan-new.jpg" target="_blank"><img src="../img/foot-cardigan-new.jpg"/></a>
      <a href="../img/Foot-Cardigan-sock-the-vote.jpg" target="_blank"><img src="../img/Foot-Cardigan-sock-the-vote.jpg"/></a>
      <a href="../img/Foot-Cardigan.jpg" target="_blank"><img src="../img/Foot-Cardigan.jpg"/></a>
      </section>
    </main>
{% include footer.html %}