---
title: Hari Mari | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
<div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Hari Mari</h3>
						<p>Naming for the first line of flip-flops from <a href="https://www.harimari.com/collections/guys/#parks"  target="_blank">Hari Mari.</a></p>
					</div> <!-- info -->
					<div id="meta">
<p>Contributed:<br><em>The Name "Parks"</em></p>
<p>The client doesn't always choose the names I come up with, but this time they did.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="naughty-or-nice" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="imagenet" rel="next">Next &rarr;</a></li>
						</ul>
						<br>
						<br>
					</div><!-- portfolio-nav -->
					</div>  <!-- left-col -->
					<div id="examples">
						<a href="../img/Hari-Mari.jpg" target="_blank"><img src="../img/Hari-Mari.jpg"></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}