---
title: Hari Mari | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
					<h1>Hari Mari</h1>
					<h2>Naming for the first line of flip-flops from <a href="https://www.harimari.com/collections/guys/#parks"  target="_blank">Hari Mari.</a></h2>
					<h3>Contributed:</h3>
          <ul>
            <li>The Name "Parks"</li>
          </ul>
          <p>The client doesn't always choose the names I come up with, but this time they did.</p>
					</div>
        <div class="left-col-nav">
          <ul>
						<li class="prev"><a href="naughty-or-nice" rel="prev">&larr; Prev</a></li>
						<li class="next"><a href="imagenet" rel="next">Next &rarr;</a></li>
          </ul>
        </div>
      </section>
      <section class="right-col">
						<a href="../img/Hari-Mari.jpg" target="_blank"><img src="../img/Hari-Mari.jpg"></a>
      </section>
    </main>
 {% include footer.html %}