---
title: Highland Park Village | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
					<h1>Highland Park Village</h1>
					<h2>Four-page fashion inserts for the Park Cities People newspaper.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Copywriting</li>
          </ul>
          <p>There were four issues total, one for each season. I was responsible for all the writing and most of the content for the fall and winter issues. I worked closely with the marketing director and store owners at Highland Park Village to gather and select the needed information.</p>
        </div>
        <div class="left-col-nav">
          <ul>
						<li class="prev"><a href="imagenet" rel="prev">&larr; Prev</a></li>
						<li class="next"><a href="louboutin" rel="next">Next &rarr;</a></li>
            </ul>
        </div>
      </section>
      <section class="right-col">
						<a href="../img/HPVillage-Fall2010-1.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-1.jpeg"/></a>
						<a href="../img/HPVillage-Fall2010-2.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-2.jpeg"/></a>
						<a href="../img/HPVillage-Fall2010-3.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-3.jpeg"/></a>
						<a href="../img/HPVillage-Fall2010-4.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-4.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-1.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-1.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-2.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-2.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-3.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-3.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-4.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-4.jpeg"/></a>					
      </section>
    </main>
 {% include footer.html %}