---
title: Highland Park Village | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Highland Park Village</h3>
					<p>Four-page fashion inserts for the Park Cities People newspaper.</p>
					</div> <!-- info -->
					<div id="meta">
<p>Contributed:<br><em>Copywriting</em></p>
<p>There were four issues total, one for each season. I was responsible for all the writing and most of the content for the fall and winter issues. I worked closely with the marketing director and store owners at Highland Park Village to gather and select the needed information.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="imagenet" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="louboutin" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div>  <!-- left-col -->
					<div id="examples">
						<a href="../img/HPVillage-Fall2010-1.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-1.jpeg"/></a>
						<a href="../img/HPVillage-Fall2010-2.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-2.jpeg"/></a>
						<a href="../img/HPVillage-Fall2010-3.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-3.jpeg"/></a>
						<a href="../img/HPVillage-Fall2010-4.jpeg" target="_blank"/><img src="../img/HPVillage-Fall2010-4.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-1.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-1.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-2.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-2.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-3.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-3.jpeg"/></a>
						<a href="../img/HPVillage-Winter2010-4.jpeg" target="_blank"/><img src="../img/HPVillage-Winter2010-4.jpeg"/></a>					
						</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}