---
title: ImageNet | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
					<h1>ImageNet</h1>
					<h2>An interactive brochure for electronic document management.</h2>
					<h3>Contributed:</h3>
          <ul>
            <li>Copywriting</li>
            <li>Concept</li>
          </ul>
          <p>The goal with this project wasn't simply to inform the reader of the available cloud-based services, but to build a compelling argument for why it's worth the investment. This involved a great deal of research and more math than I typically care to attempt.</p>
				</div>
        <div class="left-col-nav">
          <ul>
						<li class="prev"><a href="hari-mari" rel="prev">&larr; Prev</a></li>
						<li class="next"><a href="highland-park-village" rel="next">Next &rarr;</a></li>
						</ul>
        </div>
      </section>
      <section class="right-col">
						<a href="../img/Imagenet-CloudBrochure-1.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-1.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-2.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-2.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-3.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-3.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-4.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-4.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-5.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-5.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-6.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-6.jpeg"/></a>
      </section>
    </main>
 {% include footer.html %}