---
title: ImageNet | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>ImageNet</h3>
					<p>An interactive brochure for electronic document management.</p>
					</div> <!-- info -->
					<div id="meta">
<p>Contributed:<br><em>Copywriting<br>Concept</em></p>
<p>The goal with this project wasn't simply to inform the reader of the available cloud-based services, but to build a compelling argument for why it's worth the investment. This involved a great deal of research and more math than I typically care to attempt.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="hari-mari" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="highland-park-village" rel="next">Next &rarr;</a></li>
						</ul>
						<br>
						<br>
					</div><!-- portfolio-nav -->
					</div>  <!-- left-col -->
					<div id="examples">
						<a href="../img/Imagenet-CloudBrochure-1.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-1.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-2.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-2.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-3.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-3.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-4.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-4.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-5.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-5.jpeg"/></a>
						<a href="../img/Imagenet-CloudBrochure-6.jpeg" target="_blank"/><img src="../img/Imagenet-CloudBrochure-6.jpeg"/></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}