---
title: Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
  	<section class="grid">
  	  <h3>Personal Projects</h3>
  	  <div class="grid-item">
  	    <a href="../to-done" target="_blank"><img class="grid-img" src="img/sqr/to-done-logo.png" alt="To-Done List" /></a>
  	    <p class="grid-text">Web-based to-do list that you'll actually use.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="foot-cardigan"><img class="grid-img" src="img/sqr/foot-cardigan-logo.jpg" alt="Foot Cardigan" /></a>
  	    <p class="grid-text">Sock startup with a lot of personality.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="show-and-arrow"><img class="grid-img" src="img/sqr/show-and-arrow-logo.jpg" alt="Show &amp; Arrow" /></a>
  	    <p class="grid-text">Follow bands and find shows.</p>
  	  </div>
  	</section>
  	<section class="grid">
  	  <h3>Content Strategy</h3>
  	  <div class="grid-item">
  	    <a href="maggianos"><img class="grid-img" src="img/sqr/maggianos-logo.jpg" alt="Maggianos" /></a>
  	    <p class="grid-text">Information architecture and content guide for a massive restaurant website.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="surfactant-associates"><img class="grid-img" src="img/sqr/surfactant-logo.jpg" alt="Surfactant Associates" /></a>
  	    <p class="grid-text">Total rebrand and web redesign for a highly specialized chemical engineering company.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="temple"><img class="grid-img" src="img/sqr/temple-logo.jpg" alt="Temple Emanu-El" /></a>
  	    <p class="grid-text">Restructure and redesign for the 4th largest Jewish congregation in the country.</p>
  	  </div>
  	</section>
  	<section class="grid">
  	  <h3>Brand Strategy</h3>
  	  <div class="grid-item">
  	    <a href="standish"><img class="grid-img" src="img/sqr/standish-logo.jpg" alt="Standish Salon Goods" /></a>
  	    <p class="grid-text">Brand essence guide for a salon equipment startup with a flare for the dramatic.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="warpaint"><img class="grid-img" src="img/sqr/warpaint-logo.jpg" alt="Warpaint Resources" /></a>
  	    <p class="grid-text">Branding and positioning for an innovative new player in the oil and gas industry.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="wrubel"><img class="grid-img" src="img/sqr/wrubel-logo.jpg" alt="Steve Wrubel" /></a>
  	    <p class="grid-text">Brand strategy and identity for a high-end Dallas photographer.</p>
  	  </div>
  	</section>
  	<section class="grid">
  	  <h3>Textile Design</h3>
  	  <div class="grid-item">
  	    <a href="socks"><img class="grid-img" src="img/sqr/socks-gun-thumb.png" alt="Gun Socks" /></a>
  	    <p class="grid-text">Custom sock patterns created for Foot Cardigan.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="socks"><img class="grid-img" src="img/sqr/socks-x-wing-thumb.png" alt="X-Wing Socks" /></a>
  	  </div>
  	  <div class="grid-item">
  	    <a href="socks"><img class="grid-img" src="img/sqr/socks-stormtrooper-thumb.png" alt="Stormtrooper Socks" /></a>
  	  </div>
  	</section>
  	<section class="grid">
  	  <h3>Writing &amp; Creative</h3>
  	  <div class="grid-item">
  	    <a href="biscotti"><img class="grid-img" src="img/sqr/biscotti-logo.png" alt="Biscotti Packaging" /></a>
  	    <p class="grid-text">Packaging and headlines for a tiny webcam made for big TVs.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="art-menu"><img class="grid-img" src="img/sqr/ArtMenu-logo.png" alt="Biscotti Packaging" /></a>
  	    <p class="grid-text">Introductory video for a startup offering high quality giclée canvas art prints.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="benchmark"><img class="grid-img" src="img/sqr/Benchmark-logo.jpg" alt="Biscotti Packaging" /></a>
  	    <p class="grid-text">Print advertising campaign for a local Dallas bank.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="meyer-dunlap"><img class="grid-img" src="img/sqr/meyer-dunlap-logo.jpg" alt="Meyer Dunlap" /></a>
  	    <p class="grid-text">Light-hearted email campaign for a promotional products company.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="naughty-or-nice"><img class="grid-img" src="img/sqr/invitation-logo.jpeg" alt="Naughty or Nice" /></a>
  	    <p class="grid-text">Christmas cocktail party invitation for Southern Living Magazine.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="hari-mari"><img class="grid-img" src="img/sqr/Hari-Mari-logo.jpg" alt="Hari Mari" /></a>
  	    <p class="grid-text">Naming for the very first line of Hari Mari flip-flops.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="imagenet"><img class="grid-img" src="img/sqr/image-net-logo.png" alt="ImageNet" /></a>
  	    <p class="grid-text">Interactive brochure for electronic document management.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="highland-park-village"><img class="grid-img" src="img/sqr/HP-village-logo.jpg" alt="Highland Park Village" /></a>
  	    <p class="grid-text">Four-page fashion inserts for the Park Cities People newspaper.</p>
  	  </div>
  	  <div class="grid-item">
  	    <a href="louboutin"><img class="grid-img" src="img/sqr/louboutin-logo.png" alt="Christian Louboutin" /></a>
  	    <p class="grid-text">Spec print ads announcing the arrival of Christian Louboutin.</p>
  	  </div>
  	</section>
    </main>
{% include footer.html %}