---
title: Christian Louboutin | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Christian Louboutin<br>Spec Ads</h3>
						<p>Fully concepted and created in under 24 hours, these specs ads helped my first copywriting job.</p>
					</div> <!-- info -->
					<div id="meta">
<p>Contributed:<br><em>Concept<br>Copywriting<br>Design</em></p>
            <p>I wrote and designed these spec print ads for part of the interview process at <a href="http://switch.is">Switch</a>. They gave me 24 hours to come up with concepts announcing the arrival of the new Christian Louboutin store in Highland Park Village. Instead of simply presenting concepts, I made these and got the job.</p>
            <p>We actually ended up using some of these headlines in a <a href="highland-park-village">later print piece</a>.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="highland-park-village" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="/portfolio"><svg class="home-icon" style="margin-top: -20px;position: relative;top: 5px;" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div>  <!-- left-col -->
					<div class="cf" id="examples">
            <a class="cf" href="../img/cristian-louboutin-1.jpg" target="_blank"/><img src="../img/cristian-louboutin-1.jpg"/></a>
            <a class="cf" href="../img/cristian-louboutin-2.jpg" target="_blank"/><img src="../img/cristian-louboutin-2.jpg"/></a>
        </div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}