---
title: Christian Louboutin | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
					<h1>Christian Louboutin<br>Spec Ads</h1>
					<h2>Fully concepted and created in under 24 hours, these specs ads helped my first copywriting job.</h2>
					<h3>Contributed:</h3>
          <ul>
            <li>Concept</li>
            <li>Copywriting</li>
            <li>Design</li>
          </ul>
          <p>I wrote and designed these spec print ads for part of the interview process at <a href="http://switch.is">Switch</a>. They gave me 24 hours to come up with concepts announcing the arrival of the new Christian Louboutin store in Highland Park Village. Instead of simply presenting concepts, I made these and got the job.<br><br>
          We actually ended up using some of these headlines in a <a href="highland-park-village">later print piece</a>.</p>
        </div>
        <div class="left-col-nav">
          <ul>
            <li class="prev"><a href="highland-park-village" rel="prev">&larr; Prev</a></li>
						<li class="next"><a href="/"><svg class="icon" style="margin-top: -20px;position: relative;top: 5px;" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a></li>
					</ul>
        </div>
      </section>
      <section class="right-col">
            <a class="cf" href="../img/cristian-louboutin-1.jpg" target="_blank"/><img src="../img/cristian-louboutin-1.jpg"/></a>
            <a class="cf" href="../img/cristian-louboutin-2.jpg" target="_blank"/><img src="../img/cristian-louboutin-2.jpg"/></a>
      </section>
    </main>
 {% include footer.html %}