---
title: Maggiano's Little Italy | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
					<h1>Maggiano's Little Italy</h1>
					<h2>Information architecture and content guide for a massive restaurant website.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Content Strategy</li>
            <li>CInformation Architecture</li>
            <li>CProject Management</li>
          </ul>
          <p>While at <a href="http://www.reapmarketing.com/">Reap Marketing</a>, I oversaw the complete redesign and launch of a new website for the global, American Italian restuarant chain <a href="http://www.maggianos.com/" target="_blank">Maggiano's Little Italy</a>.<br><br>
          With 50+ locations, region-specific menu options, banquet and catering services, online ordering, and innumerable other minute but essential features and functions, overhauling this site from scratch required a great deal of planning.<br><br>
          The document displayed here represents the goals, content, functionality, and requirements for each page of the site. This was created to ensure accurate and detailed understanding of the website, to get specific approval and edits from the client, and to clearly communicate instructions to the design and development teams.<br><br>
          <a href="../img/Maggianos-website-content-guide.pdf" target="_blank">View the full 67 page content guide &raquo;</a><br><br>
          <a href="http://www.maggianos.com/" target="_blank">Visit Maggiano's website &raquo;</a></p>
        </div>
        <div class="left-col-nav">
          <ul>
							<li class="prev"><a href="show-and-arrow" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="surfactant-associates" rel="next">Next &rarr;</a></li>
					</ul>
        </div>
      </section>
      <section class="right-col">
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-1.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-2.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-3.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-4.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-5.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-6.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-7.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-8.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-9.jpg" /></a>
						      <a href="../img/Maggianos-website-content-guide.pdf" target="_blank"><img src="../img/Maggianos-website-content-guide-10.jpg" /></a>
            <h4><a href="../img/Maggianos-website-content-guide.pdf" target="_blank">View the full 67 page content guide &raquo;</a></h4>
      </section>
    </main>
 {% include footer.html %}