---
title: Meyer Dunlap | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Meyer Dunlap</h3>
					<p>A light-hearted email campaign for a promotional products company.</p>
					</div> <!-- info -->
					<div id="meta">
<p>Contributed:<br><em>Copywriting<br>Concept</em></p>
<p>Every month, their email newsletter starts with a section about fake and unlikely promotional products.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="benchmark" rel="prev">&larr; Back</a></li>
							<li class="next"><a href="naughty-or-nice" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div>  <!-- left-col -->
					<div id="examples">
						<a href="../img/Meyer-Dunlap-2012-08.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-08.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2012-07.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-07.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2012-06.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-06.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2012-05.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-05.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2012-04.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-04.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2012-03.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-03.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2012-02.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-02.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2011-01.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2012-01.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2011-12.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2011-12.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2011-11.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2011-11.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2011-10.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2011-10.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2011-09.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2011-09.jpg"/></a>
						<a href="../img/Meyer-Dunlap-2011-08.jpg" target="_blank"/><img src="../img/Meyer-Dunlap-2011-08.jpg"/></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}