---
title: Foot Cardigan | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Show &amp; Arrow</h3>
					<p>An lesson in patience, project management, and product development.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Creative Direction<br>User Experience Design<br>Naming</em></p>
<p>Born from the frustration of hearing about awesome nearby shows a day too late. Some people have the time and energy to keep track of tour dates and buy tickets in advance. This app is not for those people.</p>
<p>You can track your favorite bands and get notified when tickets go on sale in your area, which you can then purchase through the app. Or use it to find out if there are any good shows happening right now.</p>
<p>The beta version only includes Texas venues and is not yet available to the public.</p>
<p>Branding and UI designed by <a href="http://justinchildress.co/" target="_blank">Justin Childress</a>.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="foot-cardigan" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="maggianos" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div> <!-- left-col -->
					<div id="examples">
					<a href="../img/S&A-app-1.jpg" target="_blank"><img src="../img/S&A-app-1.jpg"/></a>
   					<a href="../img/S&A-app-2.jpg" target="_blank"><img src="../img/S&A-app-2.jpg"/></a>
   					<a href="../img/S&A-app-3.jpg" target="_blank"><img src="../img/S&A-app-3.jpg"/></a>
   					<a href="../img/S&A-app-4.jpg" target="_blank"><img src="../img/S&A-app-4.jpg" /></a>
					<a href="../img/S&A-app-5.jpg" target="_blank"><img src="../img/S&A-app-5.jpg" /></a>
					</div>
					<div id="examples">
					<p>These are the rather ugly initial wireframes I sent to <a href="http://justinchildress.net/">Justin</a>, which he somehow managed to turn in to the above.<br><br></p>
					<a href="../img/S&A-wireframes-1.jpg" target="_blank"><img src="../img/S&A-wireframes-1.jpg" /></a>
					<a href="../img/S&A-wireframes-1.jpg" target="_blank"><img src="../img/S&A-wireframes-2.jpg" /></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}
