---
title: Foot Cardigan | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Sock Designs</h3>
					<p>Custom patterns for Foot Cardigan.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Design</em></p>
            <p>As one of the founding partners of <a href="foot-cardigan">Foot Cardigan</a>, I had the opportunity to create some of their earliest sock designs. The gun socks were some of our most popular and most controversial.</p>
            <p>Through a collaboration with <a href="http://www.cufflinks.com/">CuffLinks.com</a>, we designed a series of Star Wars socks to be sold on their site. The patterns shown here proved to be too intricate for the manufacturer, but they were some of our favorites.</p>
					</div><!-- meta -->
					
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="wrubel" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="biscotti" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div><!-- left-col -->
					<div id="examples">
            <a href="../img/socks-x-wing.png" target="_blank"><img src="../img/socks-x-wing.png" /></a>
						<a href="../img/socks-stormtrooper.png" target="_blank"><img src="../img/socks-stormtrooper.png" /></a>
						<a href="../img/socks-gun.png" target="_blank"><img src="../img/socks-gun.png"/></a>
						<a href="../img/socks-all.png" target="_blank"><img src="../img/socks-all.png" /></a>
            <a href="../img/socks-guns-actual.png" target="_blank"><img src="../img/socks-guns-actual.png" /></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}
