---
title: Foot Cardigan | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
          <h1>Sock Designs</h3>
					<h2>Custom patterns for Foot Cardigan.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Design</li>
          </ul>
          <p>As one of the founding partners of <a href="foot-cardigan">Foot Cardigan</a>, I had the opportunity to create some of their earliest sock designs. The gun socks were some of our most popular and most controversial.hrough a collaboration with <a href="http://www.cufflinks.com/" target="_blank">CuffLinks.com</a>, we designed a series of Star Wars socks to be sold on their site. The patterns shown here proved to be too intricate for the manufacturer, but they were some of our favorites.</p>
       </div>
        <div class="left-col-nav">
          <ul>
							<li class="prev"><a href="wrubel" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="biscotti" rel="next">Next &rarr;</a></li>
          </ul>
        </div>
      </section>
      <section class="right-col">
            <a href="../img/socks-x-wing.png" target="_blank"><img src="../img/socks-x-wing.png" /></a>
						<a href="../img/socks-stormtrooper.png" target="_blank"><img src="../img/socks-stormtrooper.png" /></a>
						<a href="../img/socks-gun.png" target="_blank"><img src="../img/socks-gun.png"/></a>
						<a href="../img/socks-all.png" target="_blank"><img src="../img/socks-all.png" /></a>
            <a href="../img/socks-guns-actual.png" target="_blank"><img src="../img/socks-guns-actual.png" /></a>
      </section>
    </main>
 {% include footer.html %}
