---
title: Standish | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
         <div class="wrapper">
         <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Standish</h3>
					<p>A salon equipment startup with a flare for the dramatic.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Naming<br>Brand Strategy<br>Messaging Strategy<br>Copywriting</em></p>
<p>As crazy as it sounds, it's almost impossible to buy commercial grade salon equipment on the internet. Standish was started to take advantage of this apparent industry-wide oversight and it has been quite successful.</p>
<p>This project entailed creating a brand that would connect with the sophisticated tastes of stylists and salon owners, while remaining approachable to those who have never made large business purchases over the web.</p>
<p>Branding and design by <a href="http://justinchildress.co/" target="_blank">Justin Childress</a>, all work done in the service of <a href="http://www.groupswitch.com/" target="_blank">Switch Creative</a>.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="temple" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="warpaint" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					<p style="font-size:10px;"><br><br><em>Please note: I do not own any of these images nor do I have any relationship with or knowledge of the original creators or current copyright holders. If you see something that might be yours, just let me know and I'll take it down immediately.</em></p>
					</div> <!-- left-col -->
					<div id="examples">
						<a href="../img/Standish-1.jpg" target="_blank"><img src="../img/Standish-1.jpg" id="Standish-1" /></a>
						<a href="../img/Standish-2.jpg" target="_blank"><img src="../img/Standish-2.jpg" id="Standish-2"/></a>
						<a href="../img/Standish-3.jpg" target="_blank"><img src="../img/Standish-3.jpg" id="Standish-3"/></a>
						<a href="../img/Standish-4.jpg" target="_blank"><img src="../img/Standish-4.jpg" id="Standish-4"/></a>
						<a href="../img/Standish-5.jpg" target="_blank"><img src="../img/Standish-5.jpg" id="Standish-5"/></a>
						<a href="../img/Standish-6.jpg" target="_blank"><img src="../img/Standish-6.jpg" id="Standish-6"/></a>
						<a href="../img/Standish-7.jpg" target="_blank"><img src="../img/Standish-7.jpg" id="Standish-7"/></a>
						<a href="../img/Standish-8.jpg" target="_blank"><img src="../img/Standish-8.jpg" id="Standish-8"/></a>
						<a href="../img/Standish-9.jpg" target="_blank"><img src="../img/Standish-9.jpg" id="Standish-9"/></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}