---
title: Surfactant Associates | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
        <div class="wrapper">
        <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Surfactant Associates</h3>
					<p>Total rebrand and web redesign for a highly specialized chemical engineering company.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Content Strategy<br>Copywriting<br>Information Architecture</em></p>
<p>This project required a great deal of research in order to describe their services with technical precision, while remaining relatively accessible to non-engineers.</p>
<p>Branding by <a href="http://jamiewilson.io/" target="_blank">Jamie Wilson</a>, site design by <a href="http://justinchildress.co/"  target="_blank">Justin Childress</a>, all work done in the service of <a href="http://www.groupswitch.com/"  target="_blank">Switch Creative</a>.
<p><a href="http://surfactantassociates.com/" target="_blank">Visit site &raquo;</a></p>
					</div><!-- meta -->
					
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="maggianos" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="temple" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div> <!-- left-col -->
					<div id="examples">
						      <a href="../img/Surfactant-Associates-1.jpg" target="_blank"><img src="../img/Surfactant-Associates-1.jpg" /></a>
						      <a href="../img/Surfactant-Associates-2.jpg" target="_blank"><img src="../img/Surfactant-Associates-2.jpg" /></a>
						      <a href="../img/Surfactant-Associates-3.jpg" target="_blank"><img src="../img/Surfactant-Associates-3.jpg" /></a>
						      <a href="../img/Surfactant-Associates-4.jpg" target="_blank"><img src="../img/Surfactant-Associates-4.jpg" /></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
{% include footer.html %}