---
title: Temple Emanu-El | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
         <div class="wrapper">
         <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Temple Emanu-El</h3>
					<p>Restructure and redesign for the 4th largest Jewish congregation in the country.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Content Strategy<br>Information Architecture<br>Project Management</em></p>
<p>More than 130 years old, this organization has thousands of active members and dozens of nearly autonomous departments, each of which maintains its own corner of the massive website.</p>
<p>We were able to successfully prioritize and reorganize the content into a logical hierarchy and implement a highly flexible CMS that allows a variety of content types without users needing to worry about formatting.</p>
<p>Design by <a href="http://justinchildress.co/" target="_blank">Justin Childress</a> in the service of <a href="http://www.groupswitch.com/" target="_blank">Switch Creative</a>.</p>
<p><a href="http://www.tedallas.org/" target="_blank">Visit the site &raquo;</a></p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="surfactant-associates" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="standish" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div> <!-- left-col -->
					<div id="examples">
						<a href="../img/Temple-after.jpg" target="_blank"><img src="../img/Temple-after.jpg" alt="Temple Website After"/></a>
						<p>Before the redesign:</p>
						<a href="../img/Temple-before.jpg" target="_blank"><img src="../img/Temple-before.jpg" alt="Temple Website Before"/></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}