---
title: Warpaint Resources | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
         <div class="wrapper">
         <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Warpaint Resources</h3>
					<p>An innovative new player in a space dominated by huge corporations.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Brand Strategy<br>Copywriting<br>Research to inform Creative Team</em></p>
<p>The goal of this branding project was to create an entity that would appeal to potential investors as well as help attract and recruit top talent.</p>
<p>It was very important to understand the scientific and economic factors behind this venture so that we could find the most effective way to communicate with industry insiders.</p>
						<p>
							<a href="http://www.warpaintresources.com/" target="_blank">Visit website &raquo;</a>
						</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="standish" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="wrubel" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					</div> <!-- left-col -->
					<div id="examples">
				<a href="../img/Warpaint-BrandEssence-1a.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-1a.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-1b.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-1b.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-2.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-2.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-3.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-3.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-4.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-4.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-5.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-5.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-6.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-6.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-7.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-7.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-8.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-8.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-9.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-9.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-10.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-10.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-11.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-11.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-12.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-12.jpeg"></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}