---
title: Warpaint Resources | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
          <h1>Warpaint Resources</h1>
					<h2>An innovative new player in a space dominated by huge corporations.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Brand Strategy</li>
            <li>Copywriting</li>
            <li>Research to inform Creative Team</li>
           </ul>
          <p>The goal of this branding project was to create an entity that would appeal to potential investors as well as help attract and recruit top talent.<br><br>
          It was very important to understand the scientific and economic factors behind this venture so that we could find the most effective way to communicate with industry insiders.<br><br>
          <a href="http://www.warpaintresources.com/" target="_blank">Visit website &raquo;</a></p>
        </div>
        <div class="left-col-nav">
          <ul>
  					<li class="prev"><a href="standish" rel="prev">&larr; Prev</a></li>
  					<li class="next"><a href="wrubel" rel="next">Next &rarr;</a></li>
          </ul>
        </div>
      </section>
      <section class="right-col">
				<a href="../img/Warpaint-BrandEssence-1a.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-1a.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-1b.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-1b.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-2.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-2.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-3.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-3.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-4.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-4.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-5.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-5.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-6.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-6.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-7.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-7.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-8.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-8.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-9.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-9.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-10.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-10.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-11.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-11.jpeg"></a>
				<a href="../img/Warpaint-BrandEssence-12.jpeg" target="_blank"><img src="../img/Warpaint-BrandEssence-12.jpeg"></a>
      </section>
    </main>
 {% include footer.html %}