---
title: Writing Samples | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
<div class="wrapper">
	<div id="work">
		<a name="work" class="div"></a>
		<section>
			<!-- #work-->
			<div class="border"></div>
			<div class="moar-work">
				<div class="description">
					<h3>Writing Samples</h3>
				</div>
				<div class="highlighted-work">
					<div class="article">
						<a href="meyer-dunlap">
							<img class="folio-img" src="../img/meyer-dunlap-logo.jpg" alt="Meyer Dunlap" />
						</a>
					</div>

					<div class="article">
						<a href="naughty-or-nice">
							<img class="folio-img" src="../img/invitation.jpeg" alt="Naughty of Nice" />
						</a>
					</div>

					<div class="article">
						<a href="hari-mari">
							<img class="folio-img" src="../img/Hari-Mari-tile.jpg" alt="Hari Mari" />
						</a>
					</div>

					<div class="article">
						<a href="imagenet">
							<img class="folio-img" src="../img/image-net.png" alt="ImageNet" />
						</a>
					</div>

					<div class="article">
						<a href="highland-park-village">
							<img class="folio-img" src="../img/HP-village.jpg" alt="Highland Park Village" />
						</a>
					</div>
				</div>
				<!--#highlighted-work-->
			</div>
			<!-- moar-work -->
		</section>
		<!--#work-->
	</div>
	<!--#work-->
</div>
<!-- wrapper -->
 {% include footer.html %}