---
title: Steve Wrubel Photography | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
    <main>
      <section class="left-col">
        <div class="info">
          <h1>Steve Wrubel Photography</h1>
					<h2>Branding and positioning for a high-end Dallas photographer.</h2>
          <h3>Contributed:</h3>
          <ul>
            <li>Brand Strategy</li>
            <li>Copywriting</li>
          </ul>
          <p>As a precursor to a new website, Steve wanted to totally recreate his personal brand from the ground up.<br><br>
          We were able to take unique aspects of his personality and his ability to immediately establish deep relationships with his clients and use them as the basis for his new brand.<br><br>
          Design by <a href="http://justinchildress.co/" target="_blank">Justin Childress</a>, all work done in the service of <a href="http://www.groupswitch.com/" target="_blank">Switch Creative</a>.</p>
        </div>
        <div class="left-col-nav">
          <ul>
							<li class="prev"><a href="warpaint" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="socks" rel="next">Next &rarr;</a></li>
					</ul>
        </div>
        <small>All photographs are the copyrighted property of Steve Wrubel, all rights reserved.</small>
      </section>
      <section class="right-col">
  			<a href="../img/Wrubel-BE-1.jpeg" target="_blank"><img src="../img/Wrubel-BE-1.jpeg" /></a>
  			<a href="../img/Wrubel-BE-2.jpeg" target="_blank"><img src="../img/Wrubel-BE-2.jpeg" /></a>
  			<a href="../img/Wrubel-BE-3.jpeg" target="_blank"><img src="../img/Wrubel-BE-3.jpeg" /></a>
  			<a href="../img/Wrubel-BE-4.jpeg" target="_blank"><img src="../img/Wrubel-BE-4.jpeg" /></a>
  			<a href="../img/Wrubel-BE-5.jpeg" target="_blank"><img src="../img/Wrubel-BE-5.jpeg" /></a>
  			<a href="../img/Wrubel-BE-6.jpeg" target="_blank"><img src="../img/Wrubel-BE-6.jpeg" /></a>
  			<a href="../img/Wrubel-BE-7.jpeg" target="_blank"><img src="../img/Wrubel-BE-7.jpeg" /></a>
  			<a href="../img/Wrubel-BE-8.jpeg" target="_blank"><img src="../img/Wrubel-BE-8.jpeg" /></a>
  			<a href="../img/Wrubel-BE-9.jpeg" target="_blank"><img src="../img/Wrubel-BE-9.jpeg" /></a>
      </section>
    </main>
 {% include footer.html %}