---
title: Steve Wrubel Photography | Matt Fry | Digital Marketing and Design Portfolio
---
{% include header.html %}
         <div class="wrapper">
         <div class="border"></div>
			<div id="maincontent">
				<div id="portfolio-item" >
				<div id="left-col">
					<div id="info">
					<h3>Steve Wrubel Photography</h3>
					<p>Branding and positioning for a high-end Dallas photographer.</p>
					</div> <!-- info -->
					
					<div id="meta">
<p>Contributed:<br><em>Brand Strategy<br>Copywriting</em></p>
<p>As a precursor to a new website, Steve wanted to totally recreate his personal brand from the ground up.</p>
<p>We were able to take unique aspects of his personality and his ability to immediately establish deep relationships with his clients and use them as the basis for his new brand.</p>
<p>Design by <a href="http://justinchildress.co/" target="_blank">Justin Childress</a>, all work done in the service of <a href="http://www.groupswitch.com/" target="_blank">Switch Creative</a>.</p>
					</div><!-- meta -->
					<div id="portfolio-nav">
						<ul>
							<li class="prev"><a href="warpaint" rel="prev">&larr; Prev</a></li>
							<li class="next"><a href="socks" rel="next">Next &rarr;</a></li>
						</ul>
					</div><!-- portfolio-nav -->
					<p style="font-size:10px;"><br><br><em>All photographs are the copyrighted property of Steve Wrubel, all rights reserved.</em></p>
					</div> <!-- left-col -->
					<div id="examples">
						<a href="../img/Wrubel-BE-1.jpeg" target="_blank"><img src="../img/Wrubel-BE-1.jpeg" /></a>
						<a href="../img/Wrubel-BE-2.jpeg" target="_blank"><img src="../img/Wrubel-BE-2.jpeg" /></a>
						<a href="../img/Wrubel-BE-3.jpeg" target="_blank"><img src="../img/Wrubel-BE-3.jpeg" /></a>
						<a href="../img/Wrubel-BE-4.jpeg" target="_blank"><img src="../img/Wrubel-BE-4.jpeg" /></a>
						<a href="../img/Wrubel-BE-5.jpeg" target="_blank"><img src="../img/Wrubel-BE-5.jpeg" /></a>
						<a href="../img/Wrubel-BE-6.jpeg" target="_blank"><img src="../img/Wrubel-BE-6.jpeg" /></a>
						<a href="../img/Wrubel-BE-7.jpeg" target="_blank"><img src="../img/Wrubel-BE-7.jpeg" /></a>
						<a href="../img/Wrubel-BE-8.jpeg" target="_blank"><img src="../img/Wrubel-BE-8.jpeg" /></a>
						<a href="../img/Wrubel-BE-9.jpeg" target="_blank"><img src="../img/Wrubel-BE-9.jpeg" /></a>
					</div><!-- examples -->
				</div><!-- portfolio-item -->
			</div><!-- maincontent -->
		</div><!--wrapper-->
 {% include footer.html %}