body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  width: 60%;
  margin: 80px auto;
}

p {
  font-size: 1.25em;
  margin-top: 1.25em;
}


#title {
  display: flex;
  align-items: center;
  margin-bottom: 2em
}

h1 {
  font-size: 4em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
  margin: 10px 0 20px;
}

 a, a:hover, a:visited {
  text-decoration: none;
  color:#000;
}

h2 a:hover {
  border-bottom: dashed 1px lightgray;
}

.q {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1.25em 0;
}

.a-text {
  
}

.a-text:after {
  /*content: 'test';*/
}

.cf .left .q:nth-child(1) {
  margin: .5em 0;
}

input {
  padding: 2px 0;
  font-size: inherit;
  max-width: 20%;
  min-width: 90px;
  border-bottom: 1px solid;
  border-top: 0px hidden;
  border-right: 0px hidden;
  border-left: 0px hidden;
  -webkit-border-radius:0;
  border-radius: 0;
  text-align: center;
}

.aspect-ratio input {
  margin: 0 2px;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
input:focus:placeholder{
    color: transparent!important;
}

input:focus {
  outline: none;
}

.answer {
  border: solid 1px;
  padding: 5px 8px;
  margin-left: 4px;
  min-width: 40px;
  display: inline-block;
  height: 1.25em;
  text-align: center;
}

.calc {
  padding: 0 0 20px 0;
  border-bottom: dashed 1px lightgray;
  margin-bottom: 40px;
}

.box {
  border: solid 2px blue;
  width:200px!important;
  text-align: center;
}

.circle {
  width: 204px;
  margin-bottom: -40px;
}

.svg-circumference {
  stroke: #999999;
  fill: none;
  stroke-width: 2;
}

.svg-circ-fat {
  stroke: rgba(255, 255, 255, 0);
  fill: none;
  stroke-width: 24;
}

.svg-circumference-hover {
  stroke: #009900!important;
  fill: none!important;
  stroke-width: 3!important;
}

.svg-diameter {
  stroke: #999999!important;
  fill: #999999!important;
  stroke-width: 2;
}

.svg-dia-fat {
  stroke: rgba(255, 255, 255, 0);
  fill: rgba(255, 255, 255, 0);
  stroke-width: 24;
}

.svg-diameter-hover{
  stroke: #0000ff!important;
  fill: #0000ff!important;
  stroke-width: 3!important;
}

.svg-radius {
  stroke: rgba(255, 255, 255, 0);
  fill: rgba(255, 255, 255, 0);
  stroke-width: 2;
}

.svg-rad-fat {
  stroke: rgba(255, 255, 255, 0);
  fill: rgba(255, 255, 255, 0);
  stroke-width: 24;
}

.svg-radius-hover{
  stroke: #ff0000!important;
  fill: #ff0000!important;
  stroke-width: 3!important;
}

.label {
  display: block;
}

.rad-label {
  position: relative;
  bottom: 146px;
  width: 50%;
  text-align: center;
}

.dia-label {
  position: relative;
  bottom: 136px;
  width: 100%;
  text-align: center;
}

.circ-label {
  position: relative;
  bottom: 200px;
  background-color: white;
  padding: 0;
  right: 50px;
}

#output {
  font-weight: 500;
}

.mv-bar {
  margin-top: 40px;
}

button {
  padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #fff;
    margin: 0 20px 0 0;
}

button:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.one {
  width: 25%;
}

.two {
  width: 50%;
}

.three {
  width: 73%;
}

.left {
  float: left;
}

.right {
  float: right;
}
@media only screen and (max-width: 1200px) {
  .radius,.diameter {
    font-size: .75em;
  }
}

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
    margin: 40px auto;
  }
 .two, .three {
    width: 90%;
  }
  .one {
    margin: 0 auto;
    width: 30%;
  }
  .left {
    float: none;
  }
}

@media only screen and (max-width: 480px) {
  body {
    width: 90%;
    margin: 40px auto;
  }
  p {font-size: 1.25em; margin: .75em 0;}

  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }
  
  .q-text {
    display: block;
  }
  
  .q-num + .q-text {
    margin: 1em 0 .5em;
  }
  
  .circle-container {
    float: right;
    width: inherit;
    margin-top: 1em;
  }
  
  .aspect-ratio input {
  margin: 0 -3px;
}
  
  button {
    padding: 10px 18px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 1.25em;
    margin: 0 40px 0 0;
  }
  .mv-bar {
    text-align: center;
  }
}