body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  width: 60%;
  margin: 80px auto;
}

p {
  font-size: 1.25em;
  margin-top: 1.25em;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 1em;
  font-style: italic;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
  margin: 10px 0 20px;
}

.q {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1.25em 0;
}

.a {
  
}

input {
  padding: 2px 0;
  font-size: inherit;
  max-width: 20%;
  border-bottom: 1px solid;
  border-top: 0px hidden;
  border-right: 0px hidden;
  border-left: 0px hidden;
  -webkit-border-radius:0;
  border-radius: 0;
  text-align: center;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
input:focus:placeholder{
    color: transparent!important;
}

input:focus {
  outline: none;
}

.answer {
  border: solid 1px;
  padding: 5px 8px;
  margin-left: 4px;
  min-width: 40px;
  display: inline-block;
  height: 1.25em;
  text-align: center;
}

.calc {
  padding: 0 0 20px 0;
  border-bottom: dashed 1px lightgray;
  margin-bottom: 40px;
}

.box {
  border: solid 2px blue;
  width:200px;
  text-align: center;
}

.circle {
  border-radius: 50%;
  border: solid 2px blue;
  width: 200px;
  height: 200px;
  background-image: radial-gradient(ellipse at center, blue 4px, transparent 0px), linear-gradient(180deg, transparent 49.75%, blue 0, transparent 51%);
  line-height: 32px;
}

.label {
  position: relative;
  top: 69px;
}

.rad-label {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.dia-label {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.circ-label {
  position: relative;
  bottom: 75px;
  right: 50px;
}

#output {
  font-weight: 500;
}

.mv-bar {
  margin-top: 40px;
}

button {
  padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #fff;
    margin: 0 20px 0 0;
}

button:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.one {
  width: 25%;
}

.two {
  width: 50%;
}

.three {
  width: 75%;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media only screen and (max-device-width: 620px) {
  body {
    width: 90%;
  }
  p {font-size: 3em; margin: .75em 0;}

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3.25em;
  }
  button {
    padding: 10px 18px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 3em;
    margin: 0 40px 0 0;
  }
}

@media only screen and (max-width: 620px) {
  body {
    width: 90%;
    margin: 40px auto;
  }
}